@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}

.variantWrapper {
  margin-bottom: 5px;
  margin-top: 20px;
}

.variantLabel {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-dark-900);
}

.variantSelect {
  width: 70%;
  max-width: 100px; /* Reduce width */
  padding: 8px;
  border: 300px solid var(--color-gray-300);
  border-radius: 20px;
  font-size: 14px;
  color: var(--color-dark-900);
  background-color: var(--color-light-50);

  &:focus {
    outline: none;
    border-color: var(--color-blue-500);
  }
}

/* Add styles for the placeholder text in dropdown */
.variantSelect option {
  color: var(--color-dark-600);
}

/* Small screen adjustments */
@media (max-width: 768px) {
  .productHero {
    grid-template-columns: 1fr;
  }

  .mediaWrapper {
    min-height: 250px;
  }

  .variantWrapper {
    flex-direction: column;
  }
}