@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);
  overflow: hidden; /* Ensure that any overflow content is hidden */
  padding: 0 50px; /* Add padding to ensure arrows are visible */

  @include small-break {
    min-height: 250px;
  }
}

.selectedImageWrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Prevents click events on the selected image */
  z-index: 1; /* Ensures it is above other content */
  overflow: hidden; /* Ensure that any overflow content is hidden */
}

.selectedImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image fits within the container without distortion */
}

.returnButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--color-blue-500);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 2; /* Ensure the button is above the selected image */

}

.returnButton:hover {
  background-color: var(--color-blue-700);
}

/* Add styles for the navigation arrows */
.arrow {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.2;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 2;
  transform: translateY(-50%);
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dotsWrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  border: none;

  &:hover,
  &.activeDot {
    background-color: white;
  }
}

/* Adjust the mediaWrapper to accommodate arrows */
.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);
  overflow: hidden;
  padding: 0 50px; /* Add padding to ensure arrows are visible */
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20x; /* Adjust gap for better spacing */
  justify-content: flex-start; /* Align items to the start */
}

.galleryItem {
  cursor: pointer;
  width: 100px; /* Fixed size of gallery items */
  height: 100px;
  overflow: hidden; /* Ensure that any overflow content is hidden */
  border: 2px solid transparent;
  transition: border-color 0.3s, transform 0.3s;
  border-radius: 8px; /* Rounded corners for gallery items */
}

.selectedGalleryItem {
  border-color: #000; /* Highlight border for selected image */
}

.galleryItem:hover {
  border-color: #000; /* Highlight border on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.galleryThumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure image covers the thumbnail area */
  transition: opacity 0.3s;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}

.variantWrapper {
  margin-bottom: 5px;
  margin-top: 10px;
}

.variantLabel {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-dark-900);
}

.variantSelect {
  width: 70%;
  max-width: 100px; /* Reduce width */
  padding: 8px;
  border: 300px solid var(--color-gray-300);
  border-radius: 20px;
  font-size: 14px;
  color: var(--color-dark-900);
  background-color: var(--color-light-50);

  &:focus {
    outline: none;
    border-color: var(--color-blue-500);
  }
}

/* Add styles for the placeholder text in dropdown */
.variantSelect option {
  color: var(--color-dark-600);
}

.pillGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* Increase gap for better spacing */
  margin-top: 2px;
}

.pill {
  padding: 10px 20px; /* Increase padding for better clickability */
  font-size: 14px;
  background-color: white;
  border: gray solid 1px;
  border-radius: 18px; /* Make the pill more rounded */
  cursor: pointer;

  &:hover {
    background-color: calc(var(--theme-elevation-100) * 0.8);
  }

  &:focus {
    outline: none;
  }
}

.activePill {
  border: black solid 2px;
}

@media (max-width: 768px) {
  .pillGroup {
    justify-content: start;
  }

  .pill {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 13px; /* Slightly smaller font size */
  }
}

@media (max-width: 480px) {
  .pillGroup {
    gap: 8px; /* Decrease gap for very small screens */
  }

  .pill {
    padding: 6px 12px; /* Further adjust padding for small screens */
    font-size: 12px; /* Smaller font size */
  }
}

@media (max-width: 768px) {
  .productHero {
    grid-template-columns: 1fr;
  }

  .mediaWrapper {
    min-height: 250px;
  }

  .variantWrapper {
    flex-direction: column;
  }
}
