@import "../../../_css/common";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

.form {
  width: 100%;
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
  align-items: flex-start;
}

.newform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-jost);

  @include mid-break {
    padding: 30px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.85);
  }

  // Ensuring 2 columns on mobile devices as well
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  @include small-break {
    padding: 20px;
  }

  label {
    grid-column: span 2;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--color-gray-700);
    display: block;
    font-family: var(--font-jost);
    font-size: large;
  }

  input, select, textarea {
    width: 100%;
    padding: 10px;
    border: var(--color-gray-300);
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--font-jost);

    // Opacity for placeholder only
    &::placeholder {
      color: var(--color-gray-500);
      opacity: 0.7;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    @include small-break {
      font-size: 14px;
      padding: 8px;
    }
  }
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include small-break {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-item {
  margin-bottom: 20px;
}
.formEmail {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.newspan {
  font-size: large;
  color: gray;
  opacity: 100%;
  margin-bottom: 20px;
  font-family: var(--font-jost);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: inherit;
}
.hidden {
  display: none;
}